In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
data=np.random.randint(1,10,(5,4))

In [4]:
data

array([[5, 6, 3, 2],
       [5, 1, 3, 7],
       [5, 9, 3, 5],
       [7, 5, 3, 1],
       [3, 7, 3, 2]])

In [6]:
df=pd.DataFrame(data,["A","B","C","D","E"],["X","Y","Z","W"])

In [7]:
df

   X  Y  Z  W
A  5  6  3  2
B  5  1  3  7
C  5  9  3  5
D  7  5  3  1
E  3  7  3  2

In [8]:
type(df)

pandas.core.frame.DataFrame

In [9]:
df["W"]

A    2
B    7
C    5
D    1
E    2
Name: W, dtype: int64

In [11]:
df[["Y","Z"]]

   Y  Z
A  6  3
B  1  3
C  9  3
D  5  3
E  7  3

In [12]:
df["Q"]=[1,2,3,4,5]

this will add column

In [13]:
df

   X  Y  Z  W  Q
A  5  6  3  2  1
B  5  1  3  7  2
C  5  9  3  5  3
D  7  5  3  1  4
E  3  7  3  2  5

In [14]:
df.drop("E",0)

<ipython-input-14-809638dd8528>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df.drop("E",0)

   X  Y  Z  W  Q
A  5  6  3  2  1
B  5  1  3  7  2
C  5  9  3  5  3
D  7  5  3  1  4

0 here represent row , and we use 0 to delete row

In [15]:
df.drop("Q",1)

<ipython-input-15-6fecec4fbf1a>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df.drop("Q",1)

   X  Y  Z  W
A  5  6  3  2
B  5  1  3  7
C  5  9  3  5
D  7  5  3  1
E  3  7  3  2

1 here is used to represent Coulumn, and if you want to delete column than you have to use this command.

In [18]:
df.drop("W",1,inplace=True)

<ipython-input-18-98830569eaf6>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df.drop("W",1,inplace=True)

df.drop("W",1,inplace=True) and df=df.drop("W",1) both are same

In [19]:
df

   X  Y  Z  Q
A  5  6  3  1
B  5  1  3  2
C  5  9  3  3
D  7  5  3  4
E  3  7  3  5

In [20]:
df.loc["D"]

X    7
Y    5
Z    3
Q    4
Name: D, dtype: int64

WE FIND LOCATION TO ACCESS ROW. AS DONE ABOVE

In [21]:
df.iloc[2]

X    5
Y    9
Z    3
Q    3
Name: C, dtype: int64

WE FIND LOCATION TO ACCESS ROW. AS DONE ABOVE

In [22]:
df.loc["C","Y"]

9

In [23]:
df.loc[["A","B"],["X","Z"]]

   X  Z
A  5  3
B  5  3

SUBSET IS SELECTED IN THIS WAY....

In [24]:
df["Z"]>3

A    False
B    False
C    False
D    False
E    False
Name: Z, dtype: bool

In [25]:
df

   X  Y  Z  Q
A  5  6  3  1
B  5  1  3  2
C  5  9  3  3
D  7  5  3  4
E  3  7  3  5

In [27]:
df[df["Y"]>3]

   X  Y  Z  Q
A  5  6  3  1
C  5  9  3  3
D  7  5  3  4
E  3  7  3  5

In [30]:
df[df["Y"]>3]["Z"]

A    3
C    3
D    3
E    3
Name: Z, dtype: int64

This means accessing values in Z after applying condition to Y>3

In [31]:
(df["Y"]>3) & (df["Q"]<4)

A     True
B    False
C     True
D    False
E    False
dtype: bool